* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

#loginForm div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  & input {
    padding: 0.5rem 1rem;
    font-size: 1rem;

    &::placeholder {
      color: #191919;
    }
  }
}
